<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>创建小组</title>
    <meta name="description" content="基本信息">
    <!-- 手机端的页面处理 -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- CDNs for js -->
    <script src="https://unpkg.com/leancloud-storage/dist/av.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- wechat UI CDN (CSS) -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <!-- 本地的脚本 -->
    <script type="text/javascript" src="/scripts/initLeanCloud.js"></script>
    <script type="text/javascript" src="/scripts/reuseMethods.js"></script>
    <script type="text/javascript" src="/scripts/group/createGroup.js"></script>
  </head>
  <body ontouchstart style="background-color: #f8f8f8;">
    <div id="tableList"></div>
    <div class="weui-cells__title">创建小组</div>
    <div class="weui-cells">
      <form class="createGroup">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <label for="inputGroupName" class="sr-only"></label>
            <input type="text" id="inputGroupName" class="weui-input form-control" placeholder='请输入小组名称' required autofocus>
          </div>
        </div>
    <div class="weui-cells__title">对外权限</div>
        <div class="weui-cells weui-cells_radio">
          <label class="weui-cell weui-check__label" for="open">
            <div class="weui-cell__bd">
              <p>公开</p>
            </div>
            <div class="weui-cell__ft">
              <input type="radio" class="weui-check" name="flag" id="open" value =2>
              <span class="weui-icon-checked"></span>
            </div>
          </label>
          <label class="weui-cell weui-check__label" for="hidden">
            <div class="weui-cell__bd">
              <p>隐藏</p>
              </div>
              <div class="weui-cell__ft">
                <input type="radio" name="flag" class="weui-check" id="hidden" value =0>
                <span class="weui-icon-checked"></span>
              </div>
            </label>
          <label class="weui-cell weui-check__label" for="code">
            <div class="weui-cell__bd">
              <p>密码模式</p>
              </div>
              <div class="weui-cell__ft">
                <input type="radio" name="flag" class="weui-check" id="code" value =1>
                <span class="weui-icon-checked"></span>
              </div>
            </label>
        </div>
        <br>
        <div class="weui-cells__title">密码（非必需）</div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <label for="inputPassword" class="sr-only"></label>
              <input type="text" id="inputPassword" class="weui-input form-control" placeholder='仅在密码模式下生效' required autofocus>
            </div>
          </div>
          <button class="weui-btn weui-btn_primary" type="submit">保存</button>
        </form>
      </div>
    </body>
  </html>