<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>加入小组</title>
    <meta name="description" content="基本信息">
    <script src="https://unpkg.com/leancloud-storage/dist/av.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- 手机端的页面处理 -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- wechat UI CDN (CSS) -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <!-- 本地的脚本 -->
    <script type="text/javascript" src="/scripts/initLeanCloud.js"></script>
    <script type="text/javascript" src="/scripts/reuseMethods.js"></script>
    <script type="text/javascript" src="/scripts/group/joinGroup.js"></script>
  </head>
  <body ontouchstart style="background-color: #f8f8f8;">
    <div class="weui-cells__title">加入小组</div>
    <form class='inputInfo'>
    <div class="change-info weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <label for="inputUsername" class="sr-only"></label>
          <input type="username" id="inputGroupName" class="weui-input form-control" placeholder=小组名称 required autofocus>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <label for="inputPassword" class="sr-only"></label>
          <input type="username" id="inputPassword" class="weui-input form-control" placeholder=申请密码(仅对密码模式下的小组)  autofocus>
        </div>
      </div>
    </div>
   

      <div id="tableList"></div>
      <br>
      <button class="weui-btn weui-btn_primary" type="submit">确认加入</button>
    </form>
    <script id="userGroup" type="text/x-handlebars-template"> 
    \{{#each groups}}
    <div class="weui-cells" style="background-color: #F0F0F0;margin-top: 15px;">
      <div class="weui-cell" >
        <div class="weui-cell__bd">
          <p>\{{name}}</p>
          <p style="font-size: 13px;color: #888888;">小组长：\{{leaderName}}</P>
          \{{#unless flag}}
          <p style="font-size: 13px;color: #888888;">密码模式</P>
          \{{/unless}}
        </div>
      </div>
    </div>
    \{{/each}}
    </script>
  </body>
</html>