<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>小组信息</title>
    <meta name="description" content="基本信息">
      <!-- Jquery wechat(js) CDN-->
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://unpkg.com/leancloud-storage/dist/av.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- 手机端的页面处理 -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- wechat UI CDN (CSS/JS) -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <!-- 本地CSS/JS-->
    <link rel="stylesheet" href="/stylesheets/wode.css">
    <script type="text/javascript" src="/scripts/initLeanCloud.js"></script>
    <script type="text/javascript" src="/scripts/reuseMethods.js"></script>
    <script type="text/javascript" src="/scripts/group/myGroup.js"></script>
  </head>
  <body ontouchstart style="background-color: #f8f8f8;">
    
    <div class="wode__title1">&nbsp;&nbsp;&nbsp;&nbsp;我的小组</div>
    <div id="tableList"></div>
    <div id="groupMember"></div>
    <script id="userGroup" type="text/x-handlebars-template">
    \{{#each group}}
    <div class="weui-cells">
      <div class="weui-cell" >
        <div class="weui-cell__bd">
          <p>小组名称：\{{name}}</p>
        </div>
      </div>
      <div class="weui-cell" >
        <div class="weui-cell__bd">
          <p>小组长：\{{leaderName}}</p>
        </div>
      </div>
      <div class="weui-cell" >
        <div class="weui-cell__bd">
          <p>小组权限：\{{publicity}}</p>
        </div>
      </div>
      <div class="weui-cell " >
        <div class="weui-cell__bd">
          <p>小组人数：\{{number}}</p>
        </div>
      </div>
    \{{/each}}
    </script>
    <script id="memberInfo" type="text/x-handlebars-template">
     <div class="weui-cell " >
       <div class="weui-cell__bd">
         <p>小组成员：</p>
       </div>
     </div>
    \{{#each members}}
    <div class="weui-cells1" ontouchstart style="border-style:inset; border-width:0px; ">
         <div class="weui-cell1">
             <div class="weui-cell__bd">
               <p style="font-size: 17px;color: #000000;">&nbsp;&nbsp;\{{membername}}</p>
               <p style="font-size: 13px;color: #888888;">&nbsp;&nbsp;\{{username}}</P>
             </div>
         </div>
       </div>
       <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
    \{{/each}}
    </script>
    <br>
    <br>
    <a href="/group/changeGroupInfo" class="weui-btn " style="background-color:#66b3ff">更改信息</a>
<!--     <a href="/menu" class="weui-btn weui-btn_primary" style="margin-top: 5px">返回菜单</a>
    <br> -->
    <button class="weui-btn weui-btn_warn weui-btn_primary" onclick='quitGroup()'>退出小组</button>
  <!-- Jquery wechat(js) CDN-->
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
  </body>
</html>
