<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>基本信息</title>
    <meta name="description" content="基本信息">
    <script src="https://unpkg.com/leancloud-storage/dist/av.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
<!--     <link href="../../public/wechatcss/wodecss.css"  rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- 手机端的页面处理 -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />

    <!-- custom scripts-->
    <script type="text/javascript" src="/scripts/initLeanCloud.js"></script>
    <script type="text/javascript" src="/scripts/reuseMethods.js"></script>
    <script type="text/javascript" src="/scripts/info/info.js"></script>
  </head>
  <body ontouchstart style="background-color: #f8f8f8;">
     <table width="100%">
       <tbody id="tableList">
       </tbody>
     </table>
     <script id="userInfo" type="text/x-handlebars-template">
       \{{#each user}}
       <div class="weui-cells">
           <a class="weui-cell weui-cell_access" href="javascript:;">
             <div class="weui-cell__bd1">
               <p>头像&nbsp;&nbsp;</p>
             </div>
             <div class="weui-cell__hd"><img src=:\{{userImageUrl}} style="width:20px;margin-right:5px;display:block"></div>
                   <div class="weui-cell__bd1">
           </a>
           <a class="weui-cell weui-cell_access" href="/info/name">
             <div class="weui-cell__bd1">
               <p>姓名</p>
             </div>
             <div class="weui-cell__ft1">:&nbsp;&nbsp;&nbsp;\{{name}}</div>
           </a>
           <a class="weui-cell weui-cell_access" href="/info/username">
             <div class="weui-cell__bd1">
               <p>学号</p>
             </div>
             <div class="weui-cell__ft1">:&nbsp;&nbsp;&nbsp;\{{username}}</div>
           </a>
           <a class="weui-cell weui-cell_access" href="/info/sex">
             <div class="weui-cell__bd1">
               <p>性别</p>
             </div>
             <div class="weui-cell__ft1">:&nbsp;&nbsp;&nbsp;\{{gender}}</div>
           </a>
           <a class="weui-cell weui-cell_access" href="/info/mobilePhoneNumber">
             <div class="weui-cell__bd1">
               <p>手机号</p>
             </div>
             <div class="weui-cell__ft1">:&nbsp;\{{mobilePhoneNumber}}</div>
           </a>
           <a class="weui-cell weui-cell_access" href="/info/email">
             <div class="weui-cell__bd1">
               <p>邮箱</p>
             </div>
             <div class="weui-cell__ft1">:&nbsp;&nbsp;&nbsp;\{{email}}</div>
           </a>
          <a href="javascript:;" class="weui-btn weui-btn_primary">保存
          </a>
      </div>
       \{{/each}}
    </script>

  </body>
</html>
