<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>修改手机号</title>
    <meta name="description" content="基本信息">
    <script src="https://unpkg.com/leancloud-storage/dist/av.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- 手机端的页面处理 -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 本地的脚本 -->
    <script type="text/javascript" src="/scripts/initLeanCloud.js"></script>
    <script type="text/javascript" src="/scripts/reuseMethods.js"></script>
    <script type="text/javascript" src="/scripts/info/mobilePhoneNumber.js"></script>
  </head>
  <body>
     <table width="100%">
       <tbody id="tableList">
       </tbody>
     </table>
<!--      <script id="table-template" type="text/x-handlebars-template">
       \{{#each temp}} -->
       <div class="change-info weui-cells">
                <form class="changeInfo">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                <label for="inputMobilePhoneNumber" class="sr-only"></label>
                <input type="text" id="inputMobilePhoneNumber" class="weui-input form-control" placeholder='手机号' required autofocus>
                </div>
                </div>
                <button class="weui-btn weui-btn_primary" type="submit">保存</button>
                </form>
        </div>
<!--        \{{/each}}
    </script>
 -->
